<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-resource.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
<script src="/assets/js/app.js"></script>
<script src="/assets/js/factories/candidate.factory.js"></script>
<script src="/assets/js/controllers/candidate.index.controller.js"></script>
<script src="/assets/js/controllers/candidate.show.controller.js"></script>


<div data-ng-app="candidates">
  <main data-ui-view></main>
</div>
