<h2>{{candidates.length}} candidates</h2>
{{#each candidates as |candidate index|}}
<h3>
  <a href="/candidates/{{candidate.name}}">{{candidate.name}} for President in {{candidate.year}}</a>
</h3>
{{/each}}

<form action="/candidates" method="post">
    <label type="text">Name</label>
    <input type="text" name="candidate[name]" placeholer="Name" />
    <label type="text">Year</label>
    <input type="text" name="candidate[year]" placeholer="Year" />
    <button type="Submit">Run for Office</button>
</form>
