<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>When President</title>
  </head>
  <body>
    <h1><a href="/">When President ... </a></h1>
    <link rel="stylesheet" href="/assets/css/styles.css"/>
    <script src="/assets/js/app.js"></script>
    {{{body}}}

  </body>
</html>
