<div data-ng-if="showVM.candidate">
<h2>{{showVM.candidate.name}} for President in {{showVM.candidate.year}}</h2>
<div data-ng-repeat="position in showVM.candidate.positions">{{position}}</div>
<div>
  <input type="number" placeholder="Year" data-ng-model="showVM.candidate.year"/>
  <!-- <p><button data-ng-click="showVM.update()">Edit Platform</button></p> -->
  <!-- <p><textarea></textarea></p>
  <button>Add Position</button> -->
  <button data-ng-click='showVM.delete()'>Concede</button>
</div>
</div>
